<!DOCTYPE HTML>
<html>
<head>
    <title>Monitor de eventos</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });
            socket.on('my_response', function(msg) {
                // console.log(msg);
                if (msg.count === 1) {
                    $('#log').append('<br>' + $('<div/>').text( msg.data).html());
                }else{
                    console.log(msg.data);
                }
                
            });

        });
    </script>
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <h1>Monitor de eventos</h1>
            <p>Este monitorea la creación de usuarios con perfil de administrador o movimiento de grupos</p>
        </div>
    </div>

    <div class="container">
        <h2>Actividad: </h2>
        <div id="log"></div>
    </div>
</body>
</html>